
/* for universal design  */
*{
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
}

.display_flex{
    display: flex;
}

.primary_button{
    background-image: linear-gradient(to top right, #FFD600, #FF00A8, #7000FF);
    height: 44px;
    width: max-content;
    color: #FFFFFF;
    padding: 16px 12px 16px 12px;
    border: none;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.secondary_button{
    height: 44px;
    width: max-content;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    background-image: linear-gradient(#00FF88); 
    background-clip: text;
    padding: 20px 12px 20px 12px;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.primary_text{
    color: #ffffff00; 
    background-image: linear-gradient(to top right, #FFD600, #FF00A8, #7000FF); 
    background-clip: text;
}

/* for body or main design  */
.text_tech{
    font-size: 2rem;
    font-weight: bold;
}

#navigation_section{
    width: 100%;
    height: 92px;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
    color: #FFFFFF;
}

.navbar{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 32px;
    list-style: none;
    text-decoration: none;
}

.hamber{
    display: none;
}

/* for banner section  */
#banner{
    height: max-content;
    width: 100%;
    padding-bottom: 101px;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    
}

#new{
    width: 75px;
    height: 38px;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A0B2E;
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    position: relative;
    top: 22%;
    left: 55%;
    box-shadow: #00ff8896 0px 0px 20px;
    z-index: 1;
}

.banner_icon{
    width: 21.87%;
    height: 46.05%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 13.28%;
    left: 39.06%;

}

.microphone{
    position: absolute;
}


.banner_text_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner_text h3{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: bolder;
    margin-bottom: 8px;
}

.banner_text p{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
}

.button_banner{
    display: flex;
    gap: 8px;
}

/* for banner lower part  */
#banner_lower_section{
    width: 100%;
    height: max-content;
    background-color: #1A0B2E;
    
}

.banner_lower_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0 auto;
}

.banner_lower_text h3{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
    top: 50px;
    bottom: 2px;

}

.banner_lower_text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

.banner_lower_card{
    gap: 100px;
    margin: 0 12.5%;
    justify-content: center;
    
}

.banner_card{
   font-size: 3rem;
   font-weight: bolder; 
   color: #00FF88;
   text-align: center;
   margin-bottom: 120px;
}

.banner_card p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}


/* for responsive  */
@media screen and (max-width:576px){

    .text_tech{
    font-size: 1.3rem;
    font-weight: bold;
}

   .navbar{
    display: none;
   }

   .hamber{
    display: block;
    margin: 18px 20px 18px 396px;

}

   .button_hide{
    display: none;
   }

   #new{
    position: relative;
    top: 20%;
    left: 63%;
    box-shadow: #00ff8896 0px 0px 20px;
    z-index: 1;
} 

   .banner_icon{
    position: relative;
    top: 13.28%;
    left: 39.06%;

}

   .banner_lower_card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,200px);
    gap: 40px;
    margin: 40 20px;
    
}

  .banner_text_image{
    margin-top: 80px;
}
}