
/* for universal design  */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 1600px;
}

.display_flex{
    display: flex;
}

.primary_button{
    background-image: linear-gradient(to top right, #FFD600, #FF00A8, #7000FF);
    height: 44px;
    width: max-content;
    color: #FFFFFF;
    padding: 16px 12px 16px 12px;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.secondary_button{
    height: 44px;
    width: max-content;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background-image: linear-gradient(#00FF88); 
    background-clip: text;
    padding: 20px 12px 20px 12px;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.primary_text{
    color: #ffffff00; 
    background-image: linear-gradient(to top right, #FFD600, #FF00A8, #7000FF); 
    background-clip: text;
}

/* for body or main design  */
.text_tech{
    font-size: 32px;
    font-weight: bold;
}

#navigation_section{
    width: 100%;
    height: 92px;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
    color: #FFFFFF;
}

.navbar{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 32px;
    list-style: none;
    text-decoration: none;
}

/* for banner section  */
#banner{
    height: 760px;
    background-image: url('../images/hero-bg.png')
}

#new{
    width: 75px;
    height: 38px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A0B2E;
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    position: relative;
    top: 160px;
    box-shadow: #00ff8896 0px 0px 20px;
    margin-left: 877px;
}

.banner_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 101px 625px 0 625px;
}

.microphone{
    position: absolute;
}


.banner_text_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner_text h3{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.banner_text p{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 24px;
}

.button_banner{
    display: flex;
    gap: 8px;
}