
/* for universal design  */
*{
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
}

.display_flex{
    display: flex;
}

.primary_button{
    background-image: linear-gradient(to top right, #FFD600, #FF00A8, #7000FF);
    height: 44px;
    width: max-content;
    color: #FFFFFF;
    padding: 16px 12px 16px 12px;
    border: none;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.secondary_button{
    height: 44px;
    width: max-content;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    background-image: linear-gradient(#00FF88); 
    background-clip: text;
    padding: 20px 12px 20px 12px;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.primary_text{
    color: #ffffff00; 
    background-image: linear-gradient(to top right, #FFD600, #FF00A8, #7000FF); 
    background-clip: text;
}

/* for body or main design  */
.text_tech{
    font-size: 2rem;
    font-weight: bold;
}

#navigation_section{
    width: 100%;
    height: 92px;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
    color: #FFFFFF;
}

.navbar{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 32px;
    list-style: none;
    text-decoration: none;
}

.hamber{
    display: none;
}

/* for banner section  */
#banner{
    height: max-content;
    width: 100%;
    padding-bottom: 101px;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    
}

#new{
    width: 75px;
    height: 38px;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A0B2E;
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    position: relative;
    top: 22%;
    left: 55%;
    box-shadow: #00ff8896 0px 0px 20px;
    z-index: 1;
}

.banner_icon{
    width: 21.87%;
    height: 46.05%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 13.28%;
    left: 39.06%;

}

.microphone{
    position: absolute;
}


.banner_text_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.banner_text h3{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: bolder;
    margin-bottom: 8px;
}

.banner_text p{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
}

.button_banner{
    display: flex;
    gap: 8px;
}

/* for banner lower part  */
#banner_lower_section{
    width: 100%;
    height: max-content;
    background-color: #1A0B2E;
    
}

.banner_lower_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0 auto;
}

.banner_lower_text h3{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
    top: 50px;
    bottom: 2px;

}

.banner_lower_text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

.hr{
    border-bottom: 1px solid #FFFFFF; margin: 0 15%;
}

.banner_lower_card{
    gap: 100px;
    margin: 0 12.5%;
    justify-content: center;
    
}

.banner_card{
   font-size: 3rem;
   font-weight: bolder; 
   color: #00FF88;
   text-align: center;
   margin-bottom: 120px;
}

.banner_card p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}


/* for grid section  */
#grid_section{
    padding: 10.70% 12.5% 10.70% 12.5% ;
    background-color: #230E3D;
    
}

.grid_heading{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,300px);
    gap: 30px;


.grid_card1{
    grid-row: span 2;
    background-color: #351165;
    border: none;
    border-radius: 40px;
    fill-opacity: 40%;
    padding: 22.39% 10.52% ;
}

.grid_card2{
    grid-column: span 2;
    background-color: #351165;
    border: none;
    border-radius: 40px;
    fill-opacity: 40%;
    padding: 40px;
}

.grid_card3{
    grid-column: span 2;
    background-color: #351165;
    border: none;
    border-radius: 40px;
    fill-opacity: 40%;
    padding: 40px;
}

.grid_card4{
    grid-column: span 2;
    background-color: #351165;
    border: none;
    border-radius: 40px;
    fill-opacity: 40%;
    padding: 40px;
}

.grid_card5{
    background-color: #351165;
    border: none;
    border-radius: 40px;
    fill-opacity: 40%;
    padding: 40px;
}

}

.grid_container h6{
   font-size: 1.5rem; 
   font-weight: bold;
   color: #FFFFFF;
}

.grid_container p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #FFFFFF;
}

/* for main lower part  */
#main_lower_section{
    width: 100%;
    height: 1276px;
    background-color: #1A0B2E;
    padding: 2rem 12.5%;
}

.m_lower_heading{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.m_lower_card_container{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.m_lower_card{
    width: 23.75%;
    height: 34rem;
    background-color: #250D44;
    border: none;
    border-radius: 1rem;
}



.m_lower_card h6{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.m_lower_card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #FFFFFF;
}

.m_lower_card_images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.m_lower_card_text{
    padding: 1.5rem;
}

.play_icon{
    position: absolute;
}

/* for main lower bottom part  */
.m_lower_card_bottom_part h3{
   font-size: 3rem;
   font-weight: bold;
   color: #FFFFFF;
   text-align: center; 
}

.host{
    width: 75%;
    height: 17.5rem;
    padding: 2.5rem;
    display: flex;
    gap: 1.5rem;
    background-color: #351165;
    border: none;
    border-radius: 25px;
    margin: 0 11rem ;
    justify-content: center;
    align-items: center;
}


.host_image{
    position: relative;
    top: 0.5rem;
}

.host_text{
    position: relative;
    bottom: 1rem;
}

.host_text h4{
   font-size: 2rem;
   font-weight: bold; 
   color: #FFFFFF;
}

.host_text p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF; 
}

.host_text_flex_image{
    display: flex;
    gap: 0.5rem;
}


/* for footer section  */
#footer_section{
    width: 100%;
    height: max-content;
    background-image: url('../images/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_section h2{
    font-size: 5rem;
    font-weight: bolder;
    color: #FFFFFF;
}

#footer_section p{
   font-size: 1rem;
   color: #FFFFFF; 
}

.flex_footer{
    display: flex;
    gap: 2.5rem;
    justify-content: center;

}

/* for hover effect  */
.button_hide:hover{
    transform: translate(2px,-2px);
}

.spotify:hover{
    transform: translate(2px,-2px);
}

.Subscribe:hover{
    transform: translate(2px,-2px);
}

#new:hover{
    transform: translate(2px,-2px);
}

.banner_icon:hover{
    transform: translate(2px,-2px);
}

.host:hover{
    transform: translate(2px,-2px);
}

.m_lower_card:hover{
    transform: translate(2px, -2px);
}

.grid_card1:hover{
    transform: translate(2px,-2px);
}

.grid_card2:hover{
    transform: translate(2px,-2px);
}

.grid_card3:hover{
    transform: translate(2px,-2px);
}

.grid_card4:hover{
    transform: translate(2px,-2px);
}

.grid_card5:hover{
    transform: translate(2px,-2px);
}


/* for animation  */
@keyframes microphone{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.spin{
    animation-name: microphone;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



/* for responsive  */
@media screen and (max-width:576px){

    .text_tech{
    font-size: 1.3rem;
    font-weight: bold;
}

   .navbar{
    display: none;
   }

   .hamber{
    display: block;
    margin: 18px 20px 18px 396px;

}

   .button_hide{
    display: none;
   }

   #new{
    position: relative;
    top: 5rem;
    left: 63%;
    box-shadow: #00ff8896 0px 0px 20px;
    z-index: 1;
} 

#banner{
    height: max-content;
    width: 100%;
    padding-bottom: 40px;
    
}

.banner_lower_text{
    padding: 1.5rem;
}

.banner_lower_text h3{
    font-size: 2.5rem;
    position: relative;
    top: 40px;
    bottom: 2px;

}

.hr{
    border-bottom: 0.5px solid #FFFFFF; margin: 0 15%;
}

   .banner_icon{
    width: 18.87%;
    height: 43.05%;
    position: relative;
    top: 2.5rem;
    left: 39.06%;

}

.banner_lower_card{
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 12.5%;
    justify-content: center;
    
}

  .banner_card{
   font-size: 1rem;
   font-weight: bold; 
   margin-bottom: 0;
}
 

  .banner_text_image{
    margin-top: 24px;
    padding: 1rem;
}

#grid_section{
    padding: 10.70% 1.25rem ;
    justify-content: center;
    
}

.grid_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid_heading{
    font-size: 2rem;
}

.m_lower_heading{
    font-size: 2rem;
}

#main_lower_section{
    width: 100%;
    height: max-content;
    background-color: #1A0B2E;
    padding: 2rem 1.25rem;
}

.m_lower_card_container{
    display: flex;
    flex-direction: column;
}

.m_lower_card{
    width: 100%;
    height: max-content;
    background-color: #250D44;
    border: none;
    border-radius: 2rem;
}

.host{
    width: 100%;
    height: max-content;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    position: relative;
    right: 11rem;
}

.host_text_flex_image{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#footer_section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 15.5rem;
    margin-top: 15px;
}


#footer_section h2{
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
}


.flex_footer{
    width: 12rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,10px);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

#footer_section p{
   font-size: 0.5rem;
   color: #FFFFFF; 
}


}





